:root {
  --color-primary-brand: #4d5ae5;
  --color-pressed-state: #404bbf;
  --color-dark: #2e2f42;
  --color-white: #ffffff;
  --color-succes: #31d0aa;
  --color-text: #434455;
  --color-subtle-text: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-modal-overlay: #808080;
  --color-hero-bc: #2e2f42;
  --color-white-bc: #ffffff;
  --color-modal-bc: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-white-bc);
  color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*  outline: 2px solid red; */
}

/* ----- h2 -----*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-dark);
}

/* ----- h3 -----*/
.paragraph-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}

/* ----- p -----*/
.paragraph-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

/* ------ HEADER -----*/

.header-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-accent);
}

.nav-container {
  display: flex;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-brand);
}

.header-logo-right {
  color: var(--color-dark);
}

.header-list {
  display: flex;
  margin-left: 76px;
  gap: 40px;
}

.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-addr {
  margin-left: auto;
  font-style: normal;
}

.header-addr-list {
  display: flex;
  gap: 40px;
}

.header-addr-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.header-addr-link:hover,
.header-addr-link:focus {
  color: #404bbf;
}

/* ----- HERO -----*/

/* ----- hero -----*/
.hero {
  background: var(--color-hero-bc);
}

.hero-container {
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  margin: auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
  width: 496px;
}

.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  padding: 16px 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--color-primary-brand);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-pressed-state);
}

/* ----- feature ----- */
.feature-container {
  margin: 0 auto;
  padding-top: 120px;
  /*  outline: 2px solid green; */
}

.feature-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.feature-item {
  width: 264px;
}

.feature-item-text {
  margin-top: 8px;
}

/* .feature-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}

.feature-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}*/

/* ----- doing ----- */

.doing-title {
  text-align: center;
}

.doing-container {
  width: 1128px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
  /*  outline: 2px solid green; */
}

.doing-list {
  margin-top: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* ----- team -----*/
.team {
  background-color: var(--color-light);
}

.team-container {
  padding: 120px 0px;
}

.team-title {
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 72px;
}

.team-item {
  background-color: #ffffff;
}

.team-item-desc {
  margin: 32px 16px;
  text-align: center;
}

.team-item-text {
  margin-top: 8px;
}

/*.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}
.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}*/

/* ----- FOOTER -----*/
.footer {
  background-color: var(--color-dark);
}

.footer-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-block {
  width: 264px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-brand);
}

.footer-logo-right {
  color: var(--color-light);
}

.footer-text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-light);
}

/* -----  portfolio link -----*/

.portfolio-container {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--color-light);
  color: var(--color-primary-brand);
  border: 0;
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--color-pressed-state);
  color: var(--color-white);
}

.job-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 72px;
}

.job-item {
  width: 360px;
  border: 1px solid var(--color-accent);
  margin-bottom: 48px;
}

.job-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.job-desc {
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 16px;
}

.job-text {
  margin-top: 8px;
}
